This is the add friends page

<form action="/create" method="post">
  Name:<input type="text" name="name" autofocus>
  Age:<input type="text" name="age">
  Gender:<input type="text" name="gender">
  Image:<input type="text" name="image">
  Twitter:<input type="text" name="twitter">
  Facebook:<input type="text" name="facebook">
  Github:<input type="text" name="github">
  <button>Submit</button>
</form>