<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery-1.9.1.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
    <title>Twitter Bootstrap Demo</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span4"><h1>Hello TB</h1></div>
        <div class="span8">
          <a class="btn btn-primary" href="#">Text Please</a>
          <a class="btn btn-warning">More Text</a>
          <button class="btn btn-danger btn-mini"></button>
          <i class="icon-search"></i>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <div class="btn-group">
            <button class="btn btn-warning">1</button>
            <button class="btn btn-danger">2</button>
            <button class="btn btn-success">3</button>
          </div>
        </div>
        <div class="span3">d</div>
        <div class="span3">e</div>
      </div>
      <div class="row">
        <div class="span2">f</div>
        <div class="span10">
          g
          <div class="row">
            <div class="span5">h1</div>
            <div class="span5">h2</div>
          </div>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
