<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Stock Quote Retriever</title>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <%= yield %>
  </body>
</html>