<section>
  <h2>Please add a task:</h2>
  <form action="/create" method="post" class="task_form">
    <input type="text" value="Task Title" name="task_title" autofocus class="task_title_input"> <br/>
    <textarea name="task_description" class="task_description_textarea">Task Description</textarea><br/>
    <!-- <input type="date" name="due_date" class="due_date_input"><br/> -->
    <!-- <input type="time" name="due_time" class="due_time_input"><br /> -->
    <button>Add Task</button>
  </form>
</section>